<html>
    <head>
        <title>Hello World</title>
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
        <link rel='stylesheet' type='text/css' href='../static/style.css'>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro'>
        <script src='https://www.gstatic.com/charts/loader.js'></script>
        <script src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
        <script src="http://cdn.hcharts.cn/highstock/highstock.js"></script>
        <script src="http://cdn.hcharts.cn/highcharts/modules/exporting.js"></script>
    </head>

    <body>
        <section class='menu'>            
            <a id='all' href='/'>All Drivers</a>

            {% for driver in drivers %}
            <a id={{ driver }} href=''>{{ driver }}</a>
            {% endfor %}
        </section>

        <main>
            <section id='header' class='header'>
                <h2>Driver ID: <span>{{ data.id }}</span></h2>
            </section>

            <section id='chart' class='speed'>
                <div id='warning' class='warning'><h3>Diver is overspeed</h3></div>
                <div id='speed' style='width:100%; height:100%;'></div>
            </section>

            <section id='stats'>
                <h2>Statistics for all drivers</h2>
                <div class='stats'>
                    <div class='card'>
                        <h3>Average Speed</h3>
                        <h1>{{ data.summary.averageSpeed }} km/h</h1>
                    </div>
                    <div class='card'>
                        <h3>Fatigue Driving</h3>
                        <h1>{{ data.summary.countFatigueDriving }} times</h1>
                    </div>
                    <div class='card'>
                        <h3>Hthrottle Stop</h3>
                        <h1>{{ data.summary.countHthrottleStop }} times</h1>
                    </div>
                    <div class='card'>
                        <h3>Oil Leak</h3>
                        <h1>{{ data.summary.countOilLeak }} times</h1>
                    </div>
                    <div class='card' mode='extended'>
                        <h3>Neutral Sliding:</h3>
                        <h1>{{ data.summary.totalNeutralSlide }} secs ({{ data.summary.countNeutralSlide }} times)</h1>
                    </div>
                    <div class='card' mode='extended'>
                        <h3>Over Speed:</h3>
                        <h1>{{ data.summary.totalOverSpeed }} secs ({{ data.summary.countOverSpeed }} times)</h1>
                    </div>
                </div>

                <h2>Statistics for each driver</h2>
                <table>
                    <thead>
                        <tr>
                            <th size='small'>Driver ID</th>
                            <th size='small'>Plate</th>
                            <th>Average Speed</th>
                            <th>Fatigue Driving</th>
                            <th>Hthrottle Stop</th>
                            <th size='small'>Oil Leak</th>
                            <th>Neutral Slide</th>
                            <th>Overspeed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for content in data.stats %}
                        <tr>
                            <td>{{ content.id }}</td>
                            <td>{{ content.plate }}</td>
                            <td>{{ content.averageSpeed }}</td>
                            <td>{{ content.countFatigueDriving }}</td>
                            <td>{{ content.countHthrottleStop }}</td>
                            <td>{{ content.countOilLeak }}</td>
                            <td>{{ content.totalNeutralSlide }} secs ({{ content.countNeutralSlide }} times)</td>
                            <td>{{ content.totalOverSpeed }} secs ({{ content.countOverSpeed }} times)</td>
                        </tr>
                        {% endfor%}
                    </tbody>
                </table>
            </section>
        </main>

        <script language='javascript'>
            const mode = '{{ data.id }}' == '' ? 'all' : 'individual';

            // driver buttons
            if (mode == 'all') { 
                let menu = document.getElementById('all');
                menu.style.color = 'var(--white)';
                menu.style.backgroundColor = 'var(--blue)';
                menu.style.borderColor = 'var(--blue)';
            }

            if (mode == 'individual') {
                let menu = document.getElementById('{{ data.id }}');
                menu.style.color = 'var(--white)';
                menu.style.backgroundColor = 'var(--blue)';
                menu.style.borderColor = 'var(--blue)';
            }

            let drivers = JSON.parse('{{ drivers|tojson|safe }}');
            drivers.forEach(driver => {
                let link = document.getElementById(driver);
                link.href = '/driver?id=' + driver;
            });

            // header
            if (mode == 'all') {
                let section = document.getElementById('header');
                section.style.display = 'none';
            }

            // stats 
            if (mode == 'individual') {
                let section = document.getElementById('stats');
                section.style.display = 'none';
            }

            // warning
            let section = document.getElementById('warning');
            section.style.display = 'none';

            // speed
            if (mode == 'all') {
                let section = document.getElementById('chart');
                section.style.display = 'none';
            }
            else {
                function foo() {
                    const queryString = window.location.search;
                    const urlParams = new URLSearchParams(queryString);
                    const driverID = urlParams.get('id')
                    const dataLink = "/data?id=" + driverID

                    $.getJSON(dataLink, function (res) {
                        // warning
                        let section = document.getElementById('warning');
                        section.style.display = res.lastOverspeed == 0 ? 'none' : 'flex';

                        // speed
                        google.charts.load('current', { packages: ['corechart'] });
                        google.charts.setOnLoadCallback(displaySpeed);

                        function displaySpeed() {
                            let jsonSpeed = JSON.stringify(res.speed);
                            let content = JSON.parse(jsonSpeed);
                            let data = google.visualization.arrayToDataTable(content);

                            let options = {
                                hAxis: { title: 'Date & Time' },
                                vAxis: { title: 'Speed in km/h' },
                                legend: 'none',
                            };

                            let chart = new google.visualization.LineChart(document.getElementById('speed'));
                            chart.draw(data, options);
                        }
                    });
                    setTimeout(foo, 30000);
                }
                foo()
                
                
            }
        </script>
    </body>
</html>

